doctype html
html
  head
    title Vikas DAnce Academy
    block scripts
    block style 
  body
    nav#navbar.top 
            ul
                div#logo
                    img(src="/static/images/move3.png") 
                    p VDA
                li #[a(href="/") Home]       
                li #[a(href="/") About]       
                li #[a(href="/contact") Contact]     
                li #[a(href="/") Services]    
                li #[a(href="/") Class info]
    block content
          
    footer#footer 
        | copyright ©  2021 VikasDanceAcademy | All Right Resvered    